/* external css: flickity.css */

body{
  font-family: Helvetica;
}

.carousel-cell {
  width: 66%;
  margin-bottom: -15rem;
  margin-right: 10px;
  background-color: #F1F3FF;
  border-radius: 5px;
}

/* cell number */
.carousel-cell:after {
  text-align: center;
  height: max-content;
  font-size: 80px;
}


* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.flickity-page-dots{
    pointer-events: none;
    opacity: 0%;
}

.flickity-viewport{
  height: 17rem !important;
}

.flickity-button.flickity-prev-next-button.previous{
    background: url(./left.svg);
    background-size: 100%;
    position: absolute;
    top: 120%;
    left: 35%;
}

.flickity-button.flickity-prev-next-button.next{
  background: url(./right.svg);
  background-size: 100%;
  position: absolute;
  top: 120%;
  right: 35%;
}

.flickity-button-icon{
  opacity: 0%;
}

.flickity-slider{
  width: 100%;
}

@media only screen and (max-width: 990px){
  .flickity-viewport{
    height: 42rem !important;
  }

  .carousel-cell {
    width: 66%;
    margin-bottom: -37.2rem;
    margin-right: 10px;
    background-color: #F1F3FF;
    border-radius: 5px;
  }
}